.TodoForm {
    background-color: #F5F5F5;
    color: #222;
    text-align: center;
    list-style-type: none;
    padding: 0;
    position: relative;
}

.Label {
    font-size: 1.5em;
    font-weight: bolder;
}

.Input {
    margin: 0 1em;
    font-size: 1em;
    background-color: darkgrey;
    border: none;
    color: black;
    padding: 0.25em 0.5em;
}

.Button {
    border: none;
    background-color: darkgrey;
    border-radius: 10%;
    font-size: 1.2em;
    padding: 0.3em 0.5em;
    box-shadow: 5px 5px black;
    cursor: pointer;
    margin-bottom: 15em;
    display: inline-block;
    position: absolute;
}